* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=text], input[type=date], input[type=password] {
	-webkit-box-sizing: padding-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: padding-box;    /* Firefox, other Gecko */
	box-sizing: padding-box;
	line-height: 18px;
	height: 24px;
	margin-right: 5px;
}

/* CSS Styles */

* {
	font-family: 'Asap',Arial,​Helvetica,​sans-serif;
}

body {
	padding-bottom: 30px;
}

div.album-thumbnail,
div.picture-thumbnail {
	position: relative;
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
	div.description {
		visibility: hidden;
		position: absolute;
		bottom: 0;
		max-height: 50%;
		background-color: #fff;
		opacity: 0;
		width: 100%;
		text-align: center;
		padding: 10px;
	}
	&:hover {
		div.description {
			visibility: visible;
			opacity: 0.8;
		}
	}
	div.picture {
		position: relative;
		overflow: hidden;
		&.cover:before {
			width: 0;
			height: 0;
			border-bottom: 25px solid transparent;
			border-right: 25px solid transparent;
			border-top: 25px solid green;
			position: absolute;
			content: "";
			top: 0px;
			left: 0px;
			z-index: 2;
		}
		img {
			position: relative;
		}
		div.spinner {
			display: none;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.8;
			z-index: 2;
			background: #fff;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -6.25% 0 0 -6.25%;
				opacity: 1;
				color: #000;
			}
		}
		a.rotate-btn {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			i {
				visibility: hidden;
				position: absolute;
				top: 50%;
				left: 50%;
				height: 30%;
				width: 50%;
				margin: -15% 0 0 -12.5%;

			}
			&.rotate-left {
				left: 0;
				right: 50%;
			}
			&.rotate-right {
				left: 50%;
				right: 0;
			}
			&:hover {
				background: #fff;
				opacity: 0.8;
				i {
					opacity: 1;
					color: #000;
					visibility: visible;
				}
			}
		}
	}
}

@media screen and (max-width: 399px) {
	div.picture-thumbnail {
		max-width: 100%;
		margin-right: 0;
	}
	div.album-thumbnail {
		max-width: 100%;
		margin-right: 0;
	}
}

@media screen and (min-width: 400px) and (max-width: 767px) {
	div.picture-thumbnail {
		max-width: 49%;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	div.album-thumbnail {
		max-width: 49%;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	div.picture-thumbnail {
		max-width: 32%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	div.album-thumbnail {
		max-width: 32%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}

@media screen and (min-width: 1200px) {
	div.picture-thumbnail {
		max-width: 24%;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	div.album-thumbnail {
		max-width: 32%;
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
}






div.clear {
	clear: both;
}

div.thumbnail > a  {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div.thumbnail h4 {
	text-align: center;
}

div.thumbnail p {
	text-align: center;
}

div.thumbnail div.controls > input[type=text] {
	width: 90%;
}

header > h2 {
	font-size: 1.6em;
}

div.album-date {
	margin-bottom: 25px;
}

aside > h2 {
	font-size: 1.2em;
}